#root {
  display: flex;
  flex-direction: row;
}
#main {
  display: flex;
  flex-direction: column;
}
#write {
  display: flex;
  flex-direction: column;
}
#menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#drop {
  position: relative;
}

#contentSelect {
  display: none;
}
#contentlist {
  display: none;
}
/* #titleSelect {
  position: absolute;
} */
